body {
    font-family: 'Inter', sans-serif;


}

.Header-part {
    color: white;
    margin-top: 0px;
    background-image: url(images/donation9.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0%;




}

#heading-top {
    font-size: 250%;
    text-align: center;
    padding-top: 150px;
}

#heading-bottom {
    font-size: 250%;
    text-align: center;
    padding-top: 5px;

}

p {
    filter: brightness(200%);
    filter: saturate(100%);

}

.link-button {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(red, tomato);
    color: white;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 40px;
    margin-right: 25%;
    margin-left: 45%;

}

.middle-part {
    text-align: center;
    padding-top: 50px;
}

.donation-amount {
    width: 10%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    background-color: grey;
}

#donation-part {
    margin-left: 25%;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.plan-container {
    display: flex;
}

.plan {
    width: 33%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

#food {
    background-image: url(icons/food.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 5% 10%;
    background-color: rgb(133, 237, 203);
}

#shelter {
    background-image: url(icons/shelter.png);
    background-size: 12%;
    background-repeat: no-repeat;
    background-position: 5% 10%;
    background-color: pink;
}

#edu {
    background-image: url(icons/icon5.svg);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 5% 10%;
    background-color: khaki;
}